@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #0e1012;
}

.swiper-button-next {
    background-image: url(https://img.icons8.com/material-rounded/24/null/chevron-right.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
    background-color: white;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.banner .swiper-button-next {
    right: 10px;
}

.items-carousel-navigation .swiper-button-next {
    position: inherit;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url(https://img.icons8.com/material-rounded/24/null/chevron-left.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;
    background-color: white;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.banner .swiper-button-prev {
    left: 10px;
}

.items-carousel-navigation .swiper-button-prev {
    position: inherit;
}

@media only screen and (min-width: 992px) {
    .banner .swiper-button-next {
        right: 20px;
    }
    .banner .swiper-button-prev {
        left: 20px;
    }
}

.swiper-button-prev::after {
    display: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 2.5px;
    border-radius: 0;
}
